html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

p {
    color: aqua;
}

.hiba {
    color: red;
}

#Alert {
    color: red;
    font-size: 20px;
    font-weight: bold;
}